name: Publish DEBs

on:
  push:
    tags:
      - '*'

jobs:

  bulleye-x86:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: bulleye
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}


  xenial-x86:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: xenial
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}

  bionic-x86:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: bionic
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}

  focal-x86:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: focal
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}

  jammy-x86:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: jammy
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}

  bionic-arm64:
    uses: ./.github/workflows/RELEASE_REUSE.yml
    with:
      osnick: bionic
      arch: amd64
      s3root: s3://redismodules/redis-stack
      s3publicreponame: packages.redis.io
    secrets:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      PACKAGES_AWS_ACCESS_KEY_ID: ${{secrets.PACKAGES_AWS_ACCESS_KEY_ID}}
      PACKAGES_AWS_SECRET_ACCESS_KEY: ${{secrets.PACKAGES_AWS_SECRET_ACCESS_KEY}}
      GPG_PASSWORD: ${{secrets.GPG_PASSWORD}}
      GPG_KEY: ${{secrets.GPG_KEY}}
